@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #c79e71;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-weight: bold;
}
.navbar a:hover {
  color: #161943;
  background-color: #c79e71;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.5em;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

text {
  font-size: 76px;
  font-family: Copperplate, Copperplate Gothic, serif;
  font-weight: bold;
  font-variant: small-caps;
  font-variant-ligatures: none;
  stroke: black;
  stroke-width: 1.5px;
  fill: black;
}

body {
  height: 100vh;
  overflow: hidden;
}

.spinning-word {
  /* margin: 0;
    display: grid;
    place-items: center; */
  width: 100px;
  position: absolute;
  animation: rotation 8s infinite linear;
  pointer-events: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.home-button {
  background: none;
  border: 2px solid #c79e71;
  outline: none;
  position: relative;
  padding: 0.5em 1em;
  text-transform: uppercase;
  color: #33497b;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  text-align: center;
  cursor: pointer;
  border-radius: 0.2em;
  width: 10em;
  margin-right: 15px;

  &:before {
    position: absolute;
    content: "";
    background: #eff1e6;
    height: 100%;
    width: 100%;
    top: 0.5em;
    left: 0.5em;
    z-index: -1;
    border-radius: 0.2em;
  }
}

.confirm {
    background: none;
    border: 2px solid #c79e71;
    outline: none;
    position: relative;
    padding: 0.5em 1em;
    text-transform: uppercase;
    color: #33497b;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;
    border-radius: 0.2em;
    width: 10em;
    margin-right: 15px;
    margin-bottom: .5em;

  
    &:before {
      position: absolute;
      content: "";
      background: #eff1e6;
      height: 100%;
      width: 100%;
      top: 0.5em;
      left: 0.5em;
      z-index: -1;
      border-radius: 0.2em;
    }
  }

.container {
  background: none;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: "Poppins";
  color: #33497b;
}

p {
  text-align: center;
  font-weight: bold;
  clip-path: circle(0% at 50% 50%);
}

.check {
  fill: none;
  stroke: #090;
  stroke-width: 2px;
  stroke-dasharray: 0 103;
  position: absolute;
  top: .3em;
  left: .2em;
}